body {
  background-color: lightblue;
}

h1 {
  color: gray;
}

#call-api {
  background-color: white;
  border-radius: 5px;
  border: 2px solid gray;
  height: 30px;
}

#call-api:active {
  background-color: light blue;
}

/* change the styles in this file to whatever you want */
